<header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item"><a href="/" <%= path === '/' ? "class=active": '' %>>Shop</a></li>
        <li class="main-header__item"><a href="/products" <%= path === '/products' ? "class=active": '' %>>products</a></li>
        <li class="main-header__item"><a href="/cart" <%= path === '/cart' ? "class=active": '' %>>Cart</a></li>
        <li class="main-header__item"><a href="/orders" <%= path === '/orders' ? "class=active": '' %>>Orders</a></li>
        <li class="main-header__item"><a href="/admin/add-product" <%= path === '/admin/add-product' ? "class=active": '' %>>Add Product</a></li>
        <li class="main-header__item"><a href="/admin/products" <%= path === '/admin/products' ? "class=active": '' %>>Admin Products</a></li>

        
      </ul>
    </nav>
  </header>
